[submodule "android/common"]
	path = android/common
	url = https://github.com/S2A-IO/background-geolocation-android.git
[submodule "ios/common"]
	path = ios/common
	url = https://github.com/S2A-IO/background-geolocation-ios.git
